<strong>Hi, {{ provider }}</strong>
<p>There was a schedule cancellation, check out the details below:</p>
<p>
  <strong>Customer: </strong> {{ user }} <br />
  <strong>Date/Time: </strong> {{ date }} <br />
  <br />
  <small>
    You have this time now avaiable for new schedules.
  </small>
</p>
